@use '/src/App.scss' as css;

.infodata{
    color:css.$card-text;
    margin-top: 15px;
    padding: 20px 12px;
    box-shadow: 0px 2px 16px 0px #0000001A;
    border-radius: 12px;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: .2px;
    text-align: center;
    backdrop-filter: blur(34px);
    -webkit-backdrop-filter: blur(34px);

    background: rgba(255, 255, 255, 0.1); 
    font-family: "AvenirNextLTPro-Regular";
    span{font-weight: 700; 
        &.titlecase-span{text-transform: capitalize;}
        &.lowercase-span{text-transform: lowercase;}
    }
    span{
        color:#E72D38;
    }
}