.infodata{
    margin-top: 15px;
    padding: 20px 12px;
    box-shadow: 0px 2px 16px 0px #0000001A;
    border-radius: 12px;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: .2px;
    text-align: center;
    font-family: "AvenirNextLTPro-Regular";
    span{font-weight: 700;}
}