@use '/src/App.scss' as css;

.logotitle {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
 // align-items: center;
  // cursor: pointer;
  .show-img {
    display: block;
  }
  .hide-img {
    display: none;
  }
  .logo {
    color: #000;
    // width: 32px;
  }

  .spinner_box {
    display: inline-flex;
    align-items: center;
    margin-right: -2px;
    padding: 0;
    height: 24px;
    
    .popup-spinner-small {
      height: 15px;
      width: 15px;
    }
  }

  img{
    margin-top: -5px;
    margin-left: 0 !important;
    height: 29px !important;
  }
  
  .title {
    color: css.$theme_text;
    margin-left: 12px;
    word-break: break-word;
    line-height: 24px;
    font-weight: 500;
    font-size: 20px;
  }
  .cursorDisplay{
    cursor: pointer;
    word-wrap: break-word;
  }
  .img-icon-wrapper{
   // height: 24px ;
    display: inline-flex;
    justify-content: center;
    //margin-top: 2px;
  }
  .img-icon-wrapper-favIcon{
      height: 20px ;
     display: inline-flex;
     justify-content: center;
     margin-top: 2px ;
    // margin-top: 2px; 
  }
}
