@use '/src/App.scss' as css;

.container-titles-popup {
    .profile-titles-container {
        max-height: 50vh;
        overflow-y: hidden;
        z-index: 100000;
        position: fixed;
        width: 375px;
        bottom: 0;
        border-radius: 16px 16px 0 0;
        background-color: #242426;
        padding: 18px 20px 35px 20px;
        visibility: hidden;

        .titles-popup-top-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;

            .titles-popup-top-text-left {
                margin-left: 4px;
                font-family: "AvenirNextLTPro-Regular";
                font-size: 18px;
                font-weight: 500;
                line-height: 22px;
                letter-spacing: 0em;
                text-align: left;
                color: css.$theme_text;
            }

            .titles-popup-top-close-img {
                cursor: pointer;
                border-radius: 20px;
                width: 24px;
                height: 24px;

                img {
                    pointer-events: none;
                    width: 24px;
                    height: 24px;
                }
            }
        }

        .titles-popup-content {
            display: flex;

            .titles-popup-content-image {
                height: 100%;

                .titles-popup-briefcase-img {
                    height: 32px;
                    width: 32px;
                    margin-right: 19px;
                }
    
                img {
                    height: 32px;
                    width: 32px;
                    pointer-events: none;
                }
            }

            .titles-popup-titles-text {
                max-height: calc(50vh - 88px);
                overflow-y: auto;
                padding-right: 6px;
                // word-wrap: break-word;

                &::-webkit-scrollbar {
                    width: 4px;
                }

                -ms-overflow-style: auto;  /* IE and Edge */
                scrollbar-width: auto;  /* Firefox */

                &::-webkit-scrollbar-thumb {
                    background: #D9D9D9;
                }

                .titles-popup-title {
                    color: css.$theme_light;
                    font-family: "AvenirNextLTPro-Regular";
                    font-size: 20px;
                    font-weight: 500;
                    line-height: 33px;
                    letter-spacing: 0em;
                    text-align: left;
                }

                .break-titles-popup-title {
                    word-break: break-all;
                }
            }
        }
    }

    .titles-popup-container-show {
        transform: none;
        visibility: visible;
        transition: all 0.3s ease-in-out;
    }

    .titles-popup-container-hide {
        transform: translateY(100%);
        visibility: hidden;
        transition: all 0.3s ease-in-out;
    }
}

.titles-popup-overlay {
    position: fixed;
    visibility: visible;
    width: 375px;
    height: 100%;
    top: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 80000;
    transition: all 0.3s ease-in-out;
}
  
.titles-popup-overlay-hidden {
    position: fixed;
    visibility: hidden;
    width: 375px;
    height: 100%;
    top: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0);
    z-index: -1;
    transition: all 0.3s ease-in-out;
}

@media only screen and (max-width: 450px) {
    .container-titles-popup {
        .profile-titles-container {
            max-height: 50vh;
            overflow: hidden;
            z-index: 100000;
            position: fixed;
            width: 100%;
            bottom: 0;
            border-radius: 16px 16px 0 0;
            visibility: hidden;
            padding: 18px 20px 35px 20px;

            .titles-popup-top-header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 20px;
    
                .titles-popup-top-text-left {
                    margin-left: 4px;
                    font-family: "AvenirNextLTPro-Regular";
                    font-size: 18px;
                    font-weight: 500;
                    line-height: 22px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: css.$theme_text
                }
    
                .titles-popup-top-close-img {
                    cursor: pointer;
                    border-radius: 20px;
                    width: 24px;
                    height: 24px;
    
                    img {
                        pointer-events: none;
                        width: 24px;
                        height: 24px;
                    }
                }
            }

            .titles-popup-content {
                display: flex;
    
                .titles-popup-content-image {
                    height: 100%;
    
                    .titles-popup-briefcase-img {
                        height: 32px;
                        width: 32px;
                        margin-right: 19px;
                    }
        
                    img {
                        height: 32px;
                        width: 32px;
                        pointer-events: none;
                    }
                }
    
                .titles-popup-titles-text {
                    max-height: calc(50vh - 88px);
                    overflow-y: auto;
                    padding-right: 6px;

                    &::-webkit-scrollbar {
                        width: 4px;
                    }

                    -ms-overflow-style: auto;  /* IE and Edge */
                    scrollbar-width: auto;  /* Firefox */

                    &::-webkit-scrollbar-thumb {
                        background: #D9D9D9;
                    }

                    .titles-popup-title {
                        color: css.$theme_text;
                        font-family: "AvenirNextLTPro-Regular";
                        font-size: 20px;
                        font-weight: 500;
                        line-height: 33px;
                        letter-spacing: 0em;
                        text-align: left;
                    }

                    .break-titles-popup-title {
                        word-break: break-all;
                    }
                }
            }
        }
    }

    .titles-popup-container-show {
        transform: none;
        visibility: visible !important;
        transition: all 0.3s ease-in-out;
    }
    
    .titles-popup-container-hide {
        transform: translateY(100%);
        visibility: hidden;
        transition: all 0.3s ease-in-out;
    }
    
    .titles-popup-overlay {
        position: fixed;
        visibility: visible;
        width: 100%;
        height: 100%;
        top: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.5);
        z-index: 80000;
        transition: all 0.3s ease-in-out;
    }
    
    .titles-popup-overlay-hidden {
        position: fixed;
        visibility: hidden;
        width: 100%;
        height: 100%;
        top: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0);
        z-index: -1;
        transition: all 0.3s ease-in-out;
    }
}