.noleads {
//  background-color: rgb(39, 39, 39);
  /* text-align: center; */
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
  margin-top: 15px;
  gap: 8px;
  img {
    max-width: 230px;
    width: 100%;
  }
  .title {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
  }
  .subtle{
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
  }
}