.needs {
  margin-top: 15px;
  border-radius: 10px;

  .needs-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;

    .heading {
      font-size: 18px;
      font-weight: 500;
      line-height: 22px;
    }

    .see-text {
      font-size: 16px;
      font-weight: 400;
      line-height: 20px;
      font-family: "AvenirPro-regular";
      cursor: pointer;
    }
  }

  .needs-card-div:last-child {
    padding-right: 15px;
  }

  .needs-card-div {
    display: flex;
    justify-content: space-between;
    margin: 0 0 15px 15px;
    overflow: auto;
    padding-top: 0;
    gap: 8px;
    padding-bottom: 13px;
    .needs-card {
      cursor: pointer;
      min-width: 280px;
      max-width: 280px;
      min-height: 130px;
      border: 1px solid #ffffff80;
      border-radius: 20px;
      padding: 15px 20px;
      // margin-right: 8px;
      .date-location {
        display: flex;
        justify-content: space-between;
      
        .date {
          width: 50%;
          font-size: 12px;
          line-height: 18px;
          margin-bottom: 10px;
          font-weight: 400;
          letter-spacing: -0.4px;
          font-family: "AvenirPro-regular";
          white-space: nowrap;
        }
        .location-icon-text {
          margin-top: 1px;
          .location-loader-spinner {
            height: 10px;
            width: 10px;
            text-align: center;
            margin-top: 3px;
          }
        }
        .location-icon {
          margin-top: 3px;
        }
        .location {
          max-width: 110px;
          width: 100%;
          font-size: 12px;
          font-weight: 500;
          line-height: 16px;
          margin-left: 5px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          margin-bottom: 1px;
          font-family: "AvenirPro-regular";
        }
      }

      .title {
        font-size: 24px;
        font-weight: 500;
        line-height: 36px;
        letter-spacing: -0.6px;
        word-break: break-word;
        // text-transform: lowercase;
        // white-space: break-spaces;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        /* Number of lines to show */
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        max-height: 3em;
        white-space: pre-line;
      }
    }

    &::-webkit-scrollbar {
      display: none;
    }

    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}

.word_count {
  color: #E5E5E5;
  padding: 0 20px;
  text-align: right;
  margin-top: 5px;
  font-size: 12px;
  font-weight: 400;
}

.name_word_count {
  color: #E5E5E5;
  text-align: right;
  margin-top: -15px;
  font-size: 12px;
}

#style_toast_container__DT-ei {
  .style_toast-message__-UN8x {
    width: 75% !important;
    text-align: center !important;
    z-index: 200000 !important;

    .style_toast-content__jaj36 {
      font-size: 12px !important;
      background-color: white !important;
      padding: 10px 20px !important;
      border-radius:50px ;
      color: #000;
    }
  }
}

@media (min-width: 451px) {
  .word_count {
    width: 375px;
  }

  #style_toast_container__DT-ei {
    .style_toast-message__-UN8x {
      max-width: 375px;
      width: 75%;
      z-index: 9999;
      text-align: center;

      .style_toast-content__jaj36 {
        width: 75%;
        border-radius:50px ;
      }
    }
  }
}
